body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #064420; /* verde de fondo */
    margin: 0;
}

canvas {
    background: #0b6623; /* verde mesa */
    border: 8px solid #4b3621; /* borde marrón madera */
    border-radius: 15px;
    display: block;
}
